/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: to-rem(13);
  font-family: $ff-primary;
  font-weight: 500;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
